body {
  max-width: 50%;
  margin: auto;
  text-align: center;
  background-image: url(images/pablo-garcia-saldana-6WysHvxpQEQ-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: whitesmoke;
}

tr, td, tbody {
  border: 1px solid #000;
  height: 100px;
  width: 100px;
}

.tdElement {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.player1 {
  background-color: red;

}

.player2 {
  background-color: blue;

}
